{% extends 'admin/adminbase.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Site Settings{% endblock title %}
{% block content %}
<!-- Page Wrapper -->
<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row">
            <div class="col-sm-6">
               <h3 class="page-title">Settings</h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'site_settings' %}">Settings</a></li>
                  <li class="breadcrumb-item active">General Settings</li>
               </ul>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-12">
            {% include 'components/message.html' %}
            <!-- Settings Menu -->
            <div class="settings-menu-links">
               <ul class="nav nav-tabs menu-tabs">
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'site_settings' %}">General Settings</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'localizations' %}">Localization</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'payment_settings' %}">Payment Settings</a>
                  </li>
                  <li class="nav-item active">
                     <a class="nav-link" href="{% url 'email_settings' %}">Email Settings</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'social_settings' %}">Socail Media Login</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'social_links' %}">Social Links</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'seo_settings' %}">SEO Settings</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'other_settings' %}">Others</a>
                  </li>
               </ul>
            </div>
            <!-- Settings Menu -->
            <div class="row">
               <div class="col-md-6">
                  <div class="card">
                     <div class="card-body pt-0">
                        <div class="card-header">
                           <h5 class="card-title">Website Basic Details</h5>
                        </div>
                        <form method="POST" enctype="multipart/form-data">
                           {% csrf_token %}
                           <div class="">
                              <div class="form-group">
                                 <label>Email address<span class="star-red">*</span></label>
                                 <input type="text" class="form-control" name="email_address" value="{% if email.email_address is None or email.email_address == 'None' %}{% else %} {{email.email_address}} {% endif %}" placeholder="{% if email.email_address is None or email.email_address == 'None' %} Enter Email Address {% else %}{% endif %}">
                              </div>
                              <div class="form-group">
                                 <label>Password<span class="star-red">*</span></label>
                                 <input type="text" class="form-control" name="password" value="{% if email.password is None or email.password == 'None' %}{% else %} {{email.password}} {% endif %}" placeholder="{% if email.password is None or email.password == 'None' %} Enter Password {% else %} {% endif %}">
                              </div>
                              <div class="form-group">
                                 <label>Host<span class="star-red">*</span></label>
                                 <input type="text" class="form-control" name="host" value="{% if email.host is None or email.host == 'None' %}{% else %} {{email.host}} {% endif %}" placeholder="{% if email.host is None or email.host == 'None' %} Enter Host Name {% else %} {{email.host}} {% endif %}">
                              </div>
                              <div class="form-group">
                                 <label>Port<span class="star-red">*</span></label>
                                 <input type="text" class="form-control" name="port" value="{% if email.port is None or email.port == 'None' %}{% else %} {{email.port}} {% endif %}" placeholder="{% if email.port is None or email.port == 'None' %} Enter Port {% else %} {% endif %}">
                              </div>
                              <div class="form-group mb-0">
                                 <div class="settings-btns">
                                    <input type="submit" class="btn btn-orange" name="email_form" value="Update"/>
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- /Page Wrapper -->
{% endblock content %}
{% block js %}
<link rel="stylesheet"  href="https://jeremyfagis.github.io/dropify/dist/css/dropify.min.css" />
<script src="https://jeremyfagis.github.io/dropify/dist/js/dropify.min.js"></script>
<script>
   $('.dropify').dropify();
</script>
{% endblock js %}