{% extends 'nonadmin/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Freelancers
{% endblock title %}
{% block content %}

<div class="main-wrapper">
   <div class="breadcrumb-bar">
      <div class="container">
          <div class="row align-items-center inner-banner">
              <div class="col-md-12 col-12 text-center">
                  <h2 class="breadcrumb-title">Freelancers</h2>
                  <nav aria-label="breadcrumb" class="page-breadcrumb">
                      <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Freelancers</li>
                      </ol>
                  </nav>
              </div>
          </div>
      </div>
  </div>

  <div class="content">
   <div class="container">
      <div class="row">
         <div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">
         
            <!-- Search Filter -->
            <form action="" method="get">
               <div class="card search-filter">
                  <div class="card-header d-flex justify-content-between">
                     <h4 class="card-title mb-0">FILTERS</h4>
                        <!-- <input type="hidden" class="hidden" name="query" value="Traveller"> -->
                        <a href="?query=Traveller" id="clear_all" class="btn btn-small btn-primary">Clear All</a>
                     
                     <!-- <button type="submit" class="btn btn-block">Clear All</button> -->
                     <!-- <a href="javascript:void(0);">Clear All</a> -->
                  </div>
                  <div class="card-body">							
                  <div class="filter-widget">
                     <h4>Keywords</h4>
                     <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter Keywords" name="keywords" value="{{search_q.keywords}}">
                     </div>
                  </div>
                  <div class="filter-widget">
                     <h4>Location</h4>
                     <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter Location" name="location" value="{{search_q.location}}">
                     </div>
                  </div>
                  <!-- <div class="filter-widget">
                     <h4>Category</h4>
                     <div class="form-group">
                        <select class="form-control select" name="category">
                           {% if search_q.category is not None %}
                              <option selected>{{search_q.category.name}}</option>
                           {% else %}
                              <option>Select Category</option>
                                 {% for item in projectCategory %}
                                    <option>{{item.name}}</option>
                                 {% endfor %}
                           {% endif %}
                        </select>
                     </div>
                  </div> -->
                  <!-- <div class="filter-widget">
                     <h4>Completed Projects</h4>
                     <div class="form-group">
                        <select class="form-control select">
                           <option>Select Projects</option>
                           <option>Select Category</option>
                           <option>Company</option>
                           <option>Guide</option>
                           <option>Service</option>
                           <option>Date</option>
                        </select>
                     </div>
                  </div> -->
                  <!-- <div class="filter-widget">
                     <h4>Pricing Type</h4>
                     <div class="form-group">
                        <select class="form-control select">
                           <option>Hourly Rate</option>
                           <option>Full Day Rate</option>
                           <option>Half Day Rate</option>
                        </select>
                     </div>
                  </div> -->
                  <div class="filter-widget">
                     <h4>Add Skills</h4>
                     <div class="form-group">
                        <span class="badge badge-pill badge-skill">+ Pilgrimage</span><span class="badge badge-pill badge-skill">+ Travel Guide</span><span class="badge badge-pill badge-skill">+ Party Company</span><span class="badge badge-pill badge-skill">+ Tea Partner</span><span class="badge badge-pill badge-skill">+ Travel</span>
                        <input type="text" value="{{search_q.desired_skills}}" data-role="tagsinput" class="input-tags form-control" name="desired_skills" name="skills" placeholder="English,Travelling">
                     </div>
                  </div>	
                  <!-- <div class="filter-widget">
                     <h4>Avalability</h4>
                     <div>
                        <label class="custom_check">
                           <input type="checkbox" name="select_time" checked>
                           <span class="checkmark"></span> Hourly 
                        </label>
                     </div>
                     <div>
                        <label class="custom_check">
                           <input type="checkbox" name="select_time">
                           <span class="checkmark"></span> Part Time
                        </label>
                     </div>
                     <div>
                        <label class="custom_check">
                           <input type="checkbox" name="select_time">
                           <span class="checkmark"></span>  Full Time
                        </label>
                     </div>
                  </div> -->
                  <div class="filter-widget">
                     <h4>Experience</h4>
                    
                     <div>
                        <label class="custom_check">
                           <input type="checkbox" name="experience" value="0-1" {% if '0-1' in experiences %} checked {% else%} {% endif %}>
                           <span class="checkmark"></span>  0-1 years
                        </label>
                     </div>
                     <div>
                        <label class="custom_check">
                        <input type="checkbox" name="experience" value="2-5" {% if  '2-5' in experiences  %} checked {% else%} {% endif %}>
                           <span class="checkmark"></span> 2-5 years
                        </label>
                     </div>
                     <div>
                        <label class="custom_check">
                           <input type="checkbox" name="experience" value="5-8" {% if '5-8' in experiences %} checked {% endif %}>
                           <span class="checkmark"></span>  5-8 years
                        </label>
                     </div>
                     <div>
                        <label class="custom_check">
                           <input type="checkbox" name="experience" value="9-12" {% if '9-12' in experiences %} checked {% endif %}>
                           <span class="checkmark"></span>  9-12 years
                        </label>
                     </div>
                     <div>
                        <label class="custom_check">
                           <input type="checkbox" name="experience" value="12-15" {% if '12-15' in experiences %} checked {% endif %}>
                           <span class="checkmark"></span>  Mastered
                        </label>
                     </div>
                     <div>
                        <label class="custom_check">
                           <input type="checkbox" name="experience" value="15-18" {% if '15-18' in experiences %} checked {% endif %}>
                           <span class="checkmark"></span> Professional
                        </label>
                     </div>
                  </div>	
                  <div class="filter-widget">
                     <h4>Hourly Rate</h4>
                     <div id="slider-range"></div>
                     <div class="row slider-labels">
                        <div class="col-xs-12 caption">
                           <span id="slider-range-value1"></span> - <span id="slider-range-value2"></span>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-12">
                           <input type="hidden" name="min-value" value="">
                           <input type="hidden" name="max-value" value="">
                        </div>
                     </div>
                  </div>	
                                       
                                                         
                  <div class="filter-widget">
                     <h4>Reviews</h4>
                     <div>
                        <label class="custom_check">
                           <input type="checkbox" name="rating" value="5" {% if "5" in ratings %} checked {% endif %}>
                           <span class="checkmark"></span>
                           <span class="ratings">
                              <i class="fas fa-star filled"></i>
                              <i class="fas fa-star filled"></i>
                              <i class="fas fa-star filled"></i>
                              <i class="fas fa-star filled"></i>
                              <i class="fas fa-star filled"></i>
                              <span class="average-rating">(5)</span>
                           </span>
                        </label>
                     </div>
                     <div>
                        <label class="custom_check">
                           <input type="checkbox" name="rating" value="4" {% if "4" in ratings %} checked {% endif %}>
                           <span class="checkmark"></span>
                           <span class="ratings">
                              <i class="fas fa-star filled"></i>
                              <i class="fas fa-star filled"></i>
                              <i class="fas fa-star filled"></i>
                              <i class="fas fa-star filled"></i>
                              <i class="far fa-star"></i>
                              <span class="average-rating">(4)</span>
                           </span>
                        </label>
                     </div>
                     <div>
                        <label class="custom_check">
                           <input type="checkbox" name="rating" value="3" {% if "3" in ratings %} checked {% endif %}>
                           <span class="checkmark"></span>
                           <span class="ratings">
                              <i class="fas fa-star filled"></i>
                              <i class="fas fa-star filled"></i>
                              <i class="fas fa-star filled"></i>
                              <i class="far fa-star"></i>
                              <i class="far fa-star"></i>
                              <span class="average-rating">(3)</span>
                           </span>
                        </label>
                     </div>
                     <div>
                        <label class="custom_check">
                           <input type="checkbox" name="rating" value="2" {% if "2" in ratings %} checked {% endif %}>
                           <span class="checkmark"></span>
                           <span class="ratings">
                              <i class="fas fa-star filled"></i>
                              <i class="fas fa-star filled"></i>
                              <i class="far fa-star"></i>
                              <i class="far fa-star"></i>
                              <i class="far fa-star"></i>
                              <span class="average-rating">(2)</span>
                           </span>
                        </label>
                     </div>
                     <div>
                        <label class="custom_check">
                           <input type="checkbox" name="rating" value="1" {% if "1" in ratings %} checked {% endif %}>
                           <span class="checkmark"></span>
                           <span class="ratings">
                              <i class="fas fa-star filled"></i>
                              <i class="far fa-star"></i>
                              <i class="far fa-star"></i>
                              <i class="far fa-star"></i>
                              <i class="far fa-star"></i>
                              <span class="average-rating">(1)</span>
                           </span>
                        </label>
                     </div>
                  </div>

                     <div class="btn-search">
                        <input type="hidden" class="hidden" name="query" value="Traveller">
                        <button type="submit" class="btn btn-block">Search</button>
                     </div>	
                  </div>
               </div>
            </form>
            <!-- /Search Filter -->
            
         </div>
         
         <div class="col-md-12 col-lg-8 col-xl-9">
            <div class="sort-tab">
               <div class="row align-items-center">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                     <div class="d-flex align-items-center">
                        <div class="freelance-view">
                          <h4>Showing 1 - 12 of 455</h4>
                        </div>
                     </div>
                   </div>
                   <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                     <div class="d-flex justify-content-sm-end">
                        <div class="sort-by">
                          <select class="custom-select form-select">
                            <option>Relevance</option>
                            <option>Rating</option>
                            <option>Popular</option>
                            <option>Latest</option>
                            <option>Free</option>
                          </select>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
   
            <div class="bootstrap-tags text-start pl-0">
               <span class="badge badge-pill badge-skills">Travel Guide <span class="tag-close" data-role="remove"><i class="fas fa-times"></i></span></span> 
               <span class="badge badge-pill badge-skills">Kathmadnu <span class="tag-close" data-role="remove"><i class="fas fa-times"></i></span></span>
               <span class="badge badge-pill badge-skills">Hourly <span class="tag-close" data-role="remove"><i class="fas fa-times"></i></span></span> 
               <span class="badge badge-pill badge-skills">0-1 years <span class="tag-close" data-role="remove"><i class="fas fa-times"></i></span></span>
               <span class="badge badge-pill badge-skills">USD <span class="tag-close" data-role="remove"><i class="fas fa-times"></i></span></span>
            </div>
            
            <div class="row">
               {% for item in page_obj %}
               <div class="col-md-6 col-lg-6 col-xl-4">
                  <div class="freelance-widget">
                     <div class="freelance-content">
                        <a data-bs-toggle="modal" href="#rating" class="favourite"><i class="fas fa-star"></i></a>
                        <div class="freelance-img">
                           <a href="#">
                              <img src="{{item.avatar.url}}" alt="User Image">
                              <span class="verified"><i class="fas fa-check-circle"></i></span>
                           </a>
                        </div>
                        <div class="freelance-info">
                           <h3><a href="#">{{item.display_name}}</a></h3>
                           <div class="freelance-specific">{{item.title|default_if_none:''}}</div>
                           <div class="freelance-location"><i class="fas fa-map-marker-alt me-1"></i>{{item.address}}, {{item.country.name}}</div>
                           <div class="rating" data-score="{{item.get_rating_floor}}">
                           <div style="margin-left:3px;">{{item.get_rating|default_if_none:'0'}} ({{item.no_of_reviews_got}})</div>
                              
                           </div>
                           <div class="freelance-tags">
                              {% if item.get_skills %}
                                 {% for li in item.get_skills %}
                                    <a href="javascript:void(0);"><span class="badge badge-pill badge-design">{{li.skill_name}}</span></a>
                                    {% endfor %}
                              {% else %}
                                 <a href="javascript:void(0);"><span class="badge badge-pill badge-design">None</span></a>
                              {% endif %}
                           </div>
                           <div class="freelancers-price">${{item.hourly_rate}} Hourly</div>
                        </div>
                     </div>
                     <div class="cart-hover">
                        <a href="{% url 'user_detail' item.id %}" class="btn-cart" tabindex="-1">View Profile</a>
                     </div>
                  </div>
               </div>
               {% endfor %}
            </div>
            

         </div>
            
      </div>
   </div>

</div>

</div>
{% endblock content %}
{% block js %}
<link rel="stylesheet" href="{% static 'assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css' %}">
<script src="{% static 'assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js' %}"></script>
<style>
   .favourite-add{
   color: #fff;
   background: #ff5b37;
   border: 1px solid #ff5b37;
   }
   .first-div{
   padding: 5px;
   height:300px;
   overflow:auto;
   border: 1px solid #eee;
   }
   .fa-star {
    stroke: #000;
    stroke-width: 30px;
    color: #c4c4c4;
    cursor: pointer;
}

.fa-star.filled {
     color: #febe42 /* gold */
}
#clear_all{
        color: #fff;
    }
</style>
<script>
   $( document ).ready(function() {
       let b =$("#div_id_skills").children()[1]
       b.setAttribute('class','first-div')
       console.log(b)
      // $("#div_id_skills:first-child").attr('class','first-div')
   });
   function toggleId(id){
   const b = $(`#${id}-user`)
   b.toggleClass('favourite-add')
   }
   htmx.on("htmx:afterSwap", (e) => {
       const bookmarkAdded =e.target.classList.contains('favourite-add')
       if(bookmarkAdded){
           toastr.success('Added User To Bookmark !')
       }else{
           toastr.success('Removed User From Bookmark !')
   
       }
    });
</script>
{% endblock js %}