{% extends 'nonadmin/base_nofooter.html' %} 
{% load static %} {% block title %}Password Reset Done{% endblock title %} 
{% block content %}
<div class="container p-4">
   <div class="breadcrumb-bar">
      <div class="container">
         <div class="row align-items-center inner-banner">
            <div class="col-md-12 col-12 text-center">
               <h2 class="breadcrumb-title">Email Successfully Activated</h2>
               <nav aria-label="breadcrumb" class="page-breadcrumb">
                  <ol class="breadcrumb">
                     <li class="breadcrumb-item active" aria-current="page">
                        <p>Your account is now active .You may go ahead and <a style="color:red;" href="{% url 'login' %}">  log in now</a></p>
                     </li>
                  </ol>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}