{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Batuwa - Choose User Type</title>
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    </head>
    <body>
        <div class="d-flex h-100 justify-content-center align-items-center">
            <div class="card w-80">
                <form method="post" class="card-body">
                    {% csrf_token %}
                    <h4 class="text-center">Choose User Type</h4>
                    <p><small>Hello {{request.user}} , please choose your role to join Batuwa</small></p>
                    <nav class="user-tabs mb-4">
                        <ul role="tablist" class="nav nav-pills nav-justified">
                            <input type="submit" name="employer" class="nav-link active" value="Join as Batuwa" />
                            <input type="submit" name="freelancer" class="nav-link mx-2" value="Join as Freelancer" />
                        </ul>
                    </nav>
                </form>
            </div>
        </div>
    </body>
</html>