{% extends 'nonadmin/base_nofooter.html' %} 
{% load static %} {% block title %}Forgot Password{% endblock title %} {% block content %}
<!-- Page Content -->
<div class="content">
   <div class="container">
      <div class="row">
         <div class="col-md-6 offset-md-3">
            <!-- Forgot Password Content -->
            <div class="account-content">
               <div class="align-items-center justify-content-center">
                  <div class="login-right">
                     <div class="login-header text-center">
                        <a href="index.html"><img src="{{site.logo_image.url}}" alt="logo" class="img-fluid"></a>
                     </div>
                     <h3 style="text-align: center;">First, let's find your account</h3>
                     <p style="text-align: center;">Please enter your correct email </p>
                     <form hx-post="{% url 'password_reset_api' %}" hx-trigger="submit" hx-swap="none">
                        <div class="form-group form-focus">
                           <input name="email" type="email" class="form-control floating" autocomplete="off">
                           <label class="focus-label">Email</label>
                        </div>
                        <button class="btn btn-primary btn-block btn-lg login-btn" type="submit">SEND RESET EMAIL</button>
                        <div class="row form-row">
                           <div class="col-6 text-start">
                              <a class="forgot-link" href="{% url 'login' %}">Sign In</a>
                           </div>
                           <div class="col-6 text-end dont-have">New to Batuwa.io? <a href="{% url 'register' %}">Click here</a></div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
            <!-- /Forgot Password Content -->
         </div>
      </div>
   </div>
</div>
<!-- /Page Content -->
{% endblock content %} {% block js %}
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
   htmx.on("htmx:afterRequest", (e) => {
       console.log(e)
       if(e.detail.successful){
           let data = JSON.parse(e.detail.xhr.response)
           console.log(data)
           if(data.sent){
               return toastr.success(data.detail)
           }
           toastr.error(data.detail)
       }
    });
</script>
{% endblock js %}