{% extends 'admin/adminbase.html' %}
{% load extras %}
{% load static %}
{% block title %}Fee List{% endblock title %}
{% block content %}
			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
                    {% include 'components/message.html' %}
					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">Skills</h3>
							
							</div>
							<div class="col-auto">
								<a href="#" class="btn add-button me-2" data-bs-toggle="modal" data-bs-target="#add_fee_modal">
									<i class="fas fa-plus"></i>
								</a>
							
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-body">
									<div class="table-responsive">
										<div class="table-responsive">
										<table class="table table-center table-hover mb-0 datatable">
											<thead>
												<tr>
													<th>S.No</th>
													<th> Name</th>	
													<th> Slug</th>	
													<th class="text-end">Actions</th>
												</tr>
											</thead>
											<tbody id="table_list">
													{% for list in page_obj %}
                                                    <tr id="tr_{{list.id}}">
                                                        <td>
                                                            {{forloop.counter}}
                                                        </td>
                                                        <td id="name_{{list.id}}">{{list.skill_name|title}}</td>
                                                        <td id="slug_{{list.id}}">Developer with {{list.skill_name}}</td>
                                                        <td class="text-end">
                                                            <a href="javascript:void(0);" class="btn btn-sm btn-secondary me-2" data-bs-toggle="modal" data-bs-target="#edit-fee{{list.id}}"><i class="far fa-edit"></i></a> 
                                                            <a href="javascript:void(0);" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#delete_fee{{list.id}}"><i class="far fa-trash-alt"></i></a>
                                                        </td>
                                                    </tr>	
                                                    		<!-- Edit Modal -->
                                                                <div class="modal fade custom-modal" id="edit-fee{{list.id}}">
                                                                    <div class="modal-dialog modal-dialog-centered">
                                                                        <div class="modal-content">

                                                                            <!-- Modal Header -->
                                                                            <div class="modal-header">
                                                                                <h4 class="modal-title">Edit Skill</h4>
                                                                                <button type="button" class="close" data-bs-dismiss="modal"><span>&times;</span></button>
                                                                            </div>
                                                                            <!-- Modal body -->
                                                                            <div class="modal-body">
                                                                                <form hx-put="{{get_full_domain}}/project/skills/{{list.id}}/" hx-trigger='submit' hx-swap="none">
                                                                                    <input type="hidden" name="category_id" value="{{list.id}}">
                                                                                    <div class="form-group">
                                                                                        <label>Skills</label>
                                                                                        <input type="text"  name="skill_name" class="form-control" value="{{list.name}}">
                                                                                    </div>
                                                                                     
                                                                                 
                                                                                    <div class="mt-4">
                                                                                        <input type="submit" name="edit_category" class="btn btn-primary btn-block" value="Edit"/>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                                <!-- /Edit Modal -->


                                                            <!--Deelte modal-->

                                                                                <!-- Delete Modal -->



                                                                                <div class="modal custom-modal fade" id="delete_fee{{list.id}}" role="dialog">
                                                                                    <div class="modal-dialog modal-dialog-centered">
                                                                                        <div class="modal-content">

                                                                                            <div class="modal-body">
                                                                                                <form hx-delete="{{get_full_domain}}/project/skills/{{list.id}}/" hx-trigger='submit' hx-swap="none" id="delete_form{{list.id}}">
                                                                                                {% csrf_token %}
                                                                                            <div class="form-header">
                                                                                                <h3>Delete</h3>
                                                                                                <p>Are you sure want to delete skill {{list.skill_name}}?</p>
                                                                                            </div>
                                                                                            <div class="modal-btn delete-action">
                                                                                                <div class="row">

                                                                                                    <input type="submit" name="delete_tax" id="delete_btn{{list.id}}" class="btn btn-primary " value="Delete" style="display:none;" />


                                                                                                    <div class="col-6">
                                                                                                        <a href="javascript:void(0);" class="btn btn-primary continue-btn" onclick="submitDeleteForm('{{list.id}}')">Delete</a>
                                                                                                    </div>
                                                                                                    <div class="col-6">
                                                                                                        <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                                                                                                    </div>
                                                                                                </div>
                                                                                                </form>
                                                                                            </div>
                                                                                        </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                    {% endfor %}								
                                                                                                                                    
                                                                                    
                                                                                        </tbody>
                                                                                    </table>
                                                                                 
                                                                                      
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>			
                                                                </div>
                                                                
                                                            </div>			
                                                        </div>
                                                       
                                                        <!-- /Page Wrapper -->
                                                    </div>
                                                    </div>
                                                    <!-- /Main Wrapper -->
		
                                            <!-- The Modal -->
                                            <div class="modal fade custom-modal" id="add_fee_modal">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">

                                                        <!-- Modal Header -->
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Add Skill</h4>
                                                            <button type="button" class="close" data-bs-dismiss="modal"><span>&times;</span></button>
                                                        </div>

                                                        <!-- Modal body -->
                                                        <div class="modal-body">
                                                            
                                                            <form id='add_form' hx-post="{{get_full_domain}}/project/skills/" hx-trigger="submit" hx-swap="none">
                                                                <div class="form-group">
                                                                    <label>Skill</label>
                                                                    <input type="text" class="form-control" name="skill_name" placeholder="Enter skill Name" required>
                                                                </div>
                                                             
                                                                <div class="mt-4">
                                                                    <input name="add_tax_btn" type="submit" class="btn btn-primary btn-block" value="Add Skill"/>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /The Modal -->
		

{% endblock content %}
{% block js %}
<script type="text/javascript">
    
    function submitDeleteForm(idss){
        let formId = 'delete_btn'+idss


        document.getElementById(formId).click()
    }
</script>
<script>
    htmx.on("htmx:afterRequest", (e) => {
        
        const status = e.detail.xhr.status
        let data = JSON.parse(e.detail.xhr.response)

        if(e.detail.successful){
            if(status === 201){
                window.location.reload()
            }
            if(status === 200){
                if (data.type){
                    $(`#delete_fee${data.id}`).modal('hide')
                    $(`#tr_${data.id}`).fadeOut()
                    toastr.success(`Successfully Deleted Fee!`)
                }else{
                    $(`#edit-fee${data.id}`).modal('hide')
                    $(`#name_${data.id}`).text(data.skill_name)
                    toastr.success(`Successfully Edited Fee!`)
                }
            }
        }
        else{
         toastr.error(data.name[0])
        }
     });
</script>
{% endblock js %}