{% load static %}
<!-- Footer -->
<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h2 class="footer-title">Office Address</h2>
          <div class="footer-address">
            <div class="off-address">
              <p class="mb-2">{{site.address_1}}</p>
              <address class="mb-0">
                {{site.address_2}}
              </address>
              <p>
                Email: <a href="#"><u>{{site.contact_email}}</u> </a>
              </p>
            </div>
            <div class="off-address">
              <p class="mb-2">{{site.country.name}}</p>
              <address class="mb-0">
                {{site.city}} ,{{site.state}},{{site.zipcode}}
              </address>

            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="footer-widget footer-menu">
            <h2 class="footer-title">Useful Links</h2>
            <ul>
              <li><a href="about.html">About Us</a></li>
              <li><a href="blog-list.html">Blog</a></li>
              <li><a href="{% url 'login' %}">Login</a></li>
              <li><a href="{% url 'register' %}">Register</a></li>
              <li><a href="forgot-password.html">Forgot Password</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="footer-widget footer-menu">
            <h2 class="footer-title">Help & Support</h2>
            <ul>
              <li><a href="chats.html">Chat</a></li>
              <li><a href="faq.html">Faq</a></li>
              <li><a href="review.html">Reviews</a></li>
              <li><a href="privacy-policy.html">Privacy Policy</a></li>
              <li><a href="term-condition.html">Terms of use</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="footer-widget footer-menu">
            <h2 class="footer-title">Other Links</h2>
            <ul>
              <li><a href="freelancer-dashboard.html">Batuwa</a></li>
              <li>
                <a href="freelancer-portfolio.html">Batuwa Details</a>
              </li>
              <li><a href="project.html">Gigs</a></li>
              <li><a href="project-details.html">Gigs Details</a></li>
              <li><a href="post-project.html">Post Gigs</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget footer-menu">
            <h2 class="footer-title">Mobile Application</h2>
            <p>Download our App and get the latest find Batuwa justa click away</p>
            <div class="row g-2">
                <div class="col">
                    <a href="#"><img class="img-fluid" src="{% static 'assets/img/app-store.svg' %}" alt="app-store"></a>
                </div>
                <div class="col">
                    <a href="#"><img class="img-fluid" src="{% static 'assets/img/google-play.svg' %}" alt="google-play"></a>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Footer Top -->

  <!-- Footer Bottom -->
  <div class="footer-bottom">
    <div class="container">
      <!-- Copyright -->
      <div class="copyright">
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <div class="copyright-text">
              <p class="mb-0">
                &copy; 2022 All Rights Reserved - Batuwa LLC
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 right-text">
            <div class="social-icon">
              <ul>
                <li>
                  <a href="#" class="icon" target="_blank"><i class="fab fa-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="#" class="icon" target="_blank"><i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
                <li>
                  <a href="#" class="icon" target="_blank"><i class="fab fa-twitter"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- /Copyright -->
    </div>
  </div>
  <!-- /Footer Bottom -->
</footer>
<!-- /Footer -->